<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Restaurant Apps</title>

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <map-popup></map-popup>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header>
      <div class="page-title_container">
        <button id="menu" class="header_menu">☰</button>
        <h1 class="page-title">Indonesia Restaurant</h1>
      </div>

      <nav id="drawer" class="nav-container">
        <ul class="nav-list">
          <li class="nav-item"><a href="/">Home</a></li>
          <li class="nav-item"><a href="#">Favorite</a></li>
          <li class="nav-item"><a href="https://www.linkedin.com/in/hafisnovianas">About Us</a></li>
        </ul>
      </nav>
    </header>

    <div class="hero">
      <div class="hero-inner">
        <h1 class="hero-title">Cita Rasa Indonesia</h1>
      </div>
    </div>

    <main id="maincontent">
      <section class="content">
        <h1 class="latest__label">Eksplorasi Rasa: Temukan Restoran Favorit Anda</h1>
        <restaurant-list minwidth="300" gutter="16"></restaurant-list>
      </section>
    </main>

    <footer>
      <footer-bar></footer-bar>
    </footer>
  </body>
</html>
