* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  padding: 8px;
  color: #E6C767;
  text-decoration: none;
  z-index: 102;
}

.skip-link:focus {
  top: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

header {
  display: flex;
  width: 100%;
  padding-inline: 2em;

  justify-content: space-between;
  align-items: center;

  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0;
  z-index: 101;
}

header .page-title_container {
  margin: 1em 2em;
}

header .page-title {
  font-weight: 700;
  font-size: 2em;
  color: #E6C767;
  letter-spacing: 1px;
}

header .nav-container {
  margin: 0.5em 1em;
}

header .nav-list {
  width: 100%;
  padding: 0;
  margin: 0;
}

header .nav-item {
  display: inline-block;
  line-height: 70px;
}

header .nav-item a {
  display: inline-block;
  width: 100%;
  min-width: 44px;
  min-height: 44px;
  padding-inline: 1.3em;

  color: #e6c767;
  font-weight: 700;
  font-size: 1.2em;
  text-decoration: none;

  transition: 150ms all ease-in-out;
}

header .nav-item a:hover {
  background-color: #e6c767;
  color: #223134;
}

.hero {
  display: flex;
  align-items: center;
  min-height: 380px;
  width: 100%;
  padding: 180px 0 100px 0;

  background-image: url('../public/images/heros/hero-image_2.jpg');
  background-size: cover;
  background-position: center; 
}

.hero-inner {
  max-width: 800px;
  margin: 0 auto;
  background-color: rgba(230, 199, 103, 0.7);
  padding: 10px 30px;
  border-radius: 20px;
}

.hero-title {
  color: #223134;
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 3px;
  text-align: center;
}

main {
  width: 100%;
  margin: 0 auto;
}

.content {
  padding: 32px;
  text-align: center;
}

.content .latest__label {
  font-size: 30px;
  font-weight: lighter;
}

.content .latest__label::after {
  content: '';
  margin-top: 16px;
  display: block;
  border-bottom: 3px solid #eeeeee;
}

footer {
  background-color: #223134;
  color: #e6c767;
}







